.josefin-sans-normal {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

html {
    background-image: url("img/background.png");
    background-size: cover;
}

header {
    position: absolute;
    top: 0;
}

.menu {
    font-family: "Josefin Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, div, #pCanvas {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

#pLanguage {
    position: fixed;
    top: 18%;
    left: 45%;
    width: 19%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: xx-large;
    text-align: center;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

#divGeoDataBox {
    position: fixed;
    top: 10%;
    width: 30%;
    right: 2%;
    height: 20%;
    border: 2px solid #137450;
    border-radius: 8px;
}

#divGeoData {
    position: fixed;
    top: 11%;
    width: 28%;
    right: 3%;
    height: 16%;
    text-align: right;
    font-size: 1cqw;
}

#divLogo {
    position: fixed;
    top: 12%;
    width: 9%;
    right: 21%;
    height: 16%;
}

#divWeatherBox {
    position: fixed;
    top: 32%;
    width: 30%;
    right: 2%;
    height: 25%;
    border: 2px solid #137450;
    border-radius: 8px;
}

#divWeather {
    position: fixed;
    top: 33%;
    width: 28%;
    right: 3%;
    height: 23%;
    text-align: center;
    font-size: 1cqw;
}

#tempMax {
    position: fixed;
    top: 43%;
    width: 10%;
    right: 6%;
    height: 12%;
    text-align: left;
    font-size: 1cqw;
}

#pTempMax {
    position: fixed;
    top: 45%;
    width: 6%;
    right: 7%;
    height: 9%;
    text-align: center;
    font-size: xx-large;
    font-style: bold;
}

#tempMin {
    position: fixed;
    top: 43%;
    width: 10%;
    right: 18%;
    height: 12%;
    text-align: left;
    font-size: 1cqw;
}

#pTempMin {
    position: fixed;
    top: 45%;
    width: 6%;
    right: 19%;
    height: 9%;
    text-align: center;
    font-size: xx-large;
    font-style: bold;
}

#hrUpperBridgeLeft {
    position: fixed;
    top: 18%;
    left: 41%;
    width: 3%;
    border: 5px solid #d31a1a;
}

#hrUpperBridgeRight {
    position: fixed;
    top: 25%;
    left: 65%;
    width: 3%;
    border: 5px solid #d31a1a;
}

#hrLowerBridge {
    position: fixed;
    top: 62%;
    left: 41%;
    width: 3%;
    border: 5px solid #d31a1a;
}

#hrMidBridge {
    position: fixed;
    top: 43%;
    left: 65%;
    width: 3%;
    border: 5px solid #d31a1a;
}

#divMenuBox {
    position: fixed;
    top: 8%;
    left: 2%;
    width: 39%;
    height: 13%;
    border: 2px solid #137450;
    border-radius: 8px;
}

#divAbout {
    position:fixed;
    top: 9%;
    left: 3%;
    width: 6%;
    border: 2px solid #04AA6D;
    background-color: white;
    color: black;
    border-radius: 8px;
    text-align: center;
    font-size: 1cqw;
}

#divHowToUse {
    position:fixed;
    top: 13%;
    left: 3%;
    width: 6%;
    border: 2px solid #04AA6D;
    background-color: white;
    color: black;
    border-radius: 8px;
    text-align: center;
    font-size: 1cqw;
}

#divDisclaimer {
    position:fixed;
    top: 17%;
    left: 3%;
    width: 6%;
    border: 2px solid #04AA6D;
    background-color: white;
    color: black;
    border-radius: 8px;
    text-align: center;
    font-size: 1cqw;
}

#menuDisplay {
    position:fixed;
    top: 9%;
    left: 10%;
    width: 30%;
    word-wrap: break-word;
    font-family: "Josefin Sans", sans-serif;
    font-style: italic;
    text-align: justify;
    font-size: 1cqw;
}

#divWhereWhen {
    position: fixed;
    top: 23%;
    left: 2%;
    width: 39%;
    height: 14%;
    font-size: 1cqw;
}

#divTriviaDisplayBox {
    position: fixed;
    top: 39%;
    left: 2%;
    width: 39%;
    height: 55%;
    border: 2px solid #137450;
    border-radius: 8px;
}

#divTriviaDisplay {
    position: fixed;
    top: 41%;
    left: 4%;
    width: 35%;
    height: 28%;
    font-size: 1cqw;
}

#divFlag {
    position: fixed;
    top: 45%;
    left: 20%;
    width: 17%;
    height: 17%;
}

#imgFlag {
    position: fixed;
    top: 47%;
    left: 22%;
    width: 13%;
    height: 13%;
    border: 1px dotted #137450;
    border-radius: 8px;
}

#pCanvas {
    position: fixed;
    top: 71%;
    left: 5%;
    width: 46%;
    font-size: 1cqw;
    text-align: justify;
}

#divCanvas {
    position: fixed;
    top: 75%;
    left: 11%;
    width: 18%;
    height: 17%;
}

#divCharacter {
    position: fixed;
    top: 16%;
    left: 44%;
    width: 21%;
    height: 73%;
    border: 2px solid #137450;
    border-radius: 8px;
    text-align: center;
    font-size: 1cqw;
}

#imgCharacter {
    position: fixed;
    top: 25%;
    left: 45%;
    width: 19%;
    height: 63%;
}

#advertisement {
    position: fixed;
    top: 60%;
    right: 2%;
    width: 30%;
    color: black;
}

footer {
    margin: 0.5%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    position: absolute;
    bottom: 0;
}